# Input/Output no PySpark

## Imports

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/02/03 22:32:54 WARN Utils: Your hostname, MacBook-Air-de-Vitor.local, resolves to a loopback address: 127.0.0.1; using 192.168.3.49 instead (on interface en0)
26/02/03 22:32:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/03 22:32:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/02/03 22:32:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Lendo CSV

In [19]:
# Vamos usar um dataset menor para testar todas as configurações
# No fim iremos aplicar todos os conhecimentos adquiridos em um dataset da Olist
playground_path = "data/playground/notas.csv"

df = spark.read.csv(path=playground_path)

In [20]:
df.show()

+--------------------+
|                 _c0|
+--------------------+
|nome;nascimento;nota|
|  João;20/05/1998;10|
|  Ana;19/05/2000;9.5|
| Maria;01/04/1986;-1|
|Fabiana;20/05/1973;6|
|   Jose;16/08/2005;9|
|  Vitor;20/05/1996;8|
+--------------------+

### Parametro de leitura

In [21]:
# Definindo que a primeira linha do CSV é o header e o separador é ;
spark.read.csv(playground_path, header=True, sep=';').show()

+-------+----------+----+
|   nome|nascimento|nota|
+-------+----------+----+
|   João|20/05/1998|  10|
|    Ana|19/05/2000| 9.5|
|  Maria|01/04/1986|  -1|
|Fabiana|20/05/1973|   6|
|   Jose|16/08/2005|   9|
|  Vitor|20/05/1996|   8|
+-------+----------+----+

In [22]:
# Também podemos definir se um caracter é a representação de null

df = spark.read.csv(
    path=playground_path,
    header=True,
    sep=';',
    nullValue="-1",
)

df.show()

+-------+----------+----+
|   nome|nascimento|nota|
+-------+----------+----+
|   João|20/05/1998|  10|
|    Ana|19/05/2000| 9.5|
|  Maria|01/04/1986|NULL|
|Fabiana|20/05/1973|   6|
|   Jose|16/08/2005|   9|
|  Vitor|20/05/1996|   8|
+-------+----------+----+

In [23]:
# Mas o tipo dos dados estão corretos?

df.printSchema()

root
 |-- nome: string (nullable = true)
 |-- nascimento: string (nullable = true)
 |-- nota: string (nullable = true)

In [24]:
# Formas de corrigir esse problema com CSV

# 1. inferSchema + Date Formate
spark.read.csv(
    path=playground_path,
    header=True,
    sep=';',
    nullValue="-1",
    inferSchema=True,
).printSchema()


spark.read.csv(
    path=playground_path,
    header=True,
    sep=';',
    nullValue="-1",
    inferSchema=True,
    dateFormat="dd/MM/yyyy" #Add this line
).printSchema()

root
 |-- nome: string (nullable = true)
 |-- nascimento: string (nullable = true)
 |-- nota: double (nullable = true)

root
 |-- nome: string (nullable = true)
 |-- nascimento: date (nullable = true)
 |-- nota: double (nullable = true)

## Lendo Json
O padrão nativo do Spark/Big Data é o JSON Lines, onde não usa vírgulas separando as linhas e sem colchetes de array envolvendo o arquivo todo. [Documentação](https://jsonlines.org/examples/)

Exemplo
```
  {"nome": "João", "nascimento": "20/05/1998", "nota": 10}
  {"nome": "Ana", "nascimento": "19/05/2000", "nota": 9.5}
```

Como estamos utilizando o formato padrão de json precisamos da opção `multiLine=True`

In [31]:
json_path = "data/playground/notas.json"

df_lines = spark.read.json(
  json_path,
  multiLine=True,
  dateFormat="dd/MM/yyyy"
)
df_lines.show()
df_lines.printSchema()

+----------+-------+----+
|nascimento|   nome|nota|
+----------+-------+----+
|20/05/1998|   João|10.0|
|19/05/2000|    Ana| 9.5|
|01/04/1986|  Maria|-1.0|
|20/05/1973|Fabiana| 6.0|
|16/08/2005|   Jose| 9.0|
|20/05/1996|  Vitor| 8.0|
+----------+-------+----+

root
 |-- nascimento: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- nota: double (nullable = true)

### Especificando Schema

A forma garantir que os tipos estão corretos é definir o schema manualmente.

In [32]:
from pyspark.sql.types import (
    StructType,
    StructField,
    StringType,
    DoubleType,
    DateType
)

schema = StructType([
    StructField("nome", StringType(), True),
    StructField("nascimento", DateType(), True),
    StructField("nota", DoubleType(), True)
])

df_schema = spark.read.json(
    json_path,
    schema=schema,
    multiLine=True,
    dateFormat="dd/MM/yyyy"
)

df_schema.printSchema()
df_schema.show()

root
 |-- nome: string (nullable = true)
 |-- nascimento: date (nullable = true)
 |-- nota: double (nullable = true)

+-------+----------+----+
|   nome|nascimento|nota|
+-------+----------+----+
|   João|1998-05-20|10.0|
|    Ana|2000-05-19| 9.5|
|  Maria|1986-04-01|-1.0|
|Fabiana|1973-05-20| 6.0|
|   Jose|2005-08-16| 9.0|
|  Vitor|1996-05-20| 8.0|
+-------+----------+----+

## Read Parquet

In [34]:
# Parquet é um formato que compacta melhor os nossos dados

import os

file_parquet = 'data/playground/olist_order_items_dataset.parquet'
file_csv = 'data/raw/olist_order_items_dataset.csv'

size1 = os.path.getsize(file_parquet) / (1024 * 1024)
size2 = os.path.getsize(file_csv) / (1024 * 1024)

print(f"Tamanho Parquet: {size1:.2f} MB")
print(f"Tamanho CSV: {size2:.2f} MB")

Tamanho Parquet: 6.44 MB
Tamanho CSV: 14.72 MB

In [35]:
parquet_path = 'data/playground/olist_order_items_dataset.parquet'

df = spark.read.parquet(parquet_path)

df.show(5)

df.printSchema()

+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date|price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.9|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13|239.9|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30|199.0|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18|12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51|199.9|        18.14|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
only showing top 5 rows
root
 |-- order_id: string (nullable = true)
 |-- order_item_id: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- shipping_limit_date: timestamp (nullable = true)
 |-- price: double (nullable = true)
 |-- freight_value: double (nullable = true)

### Multi Files

Trabalhando com spark vai ser comum vcs receberem tabelas divididas em varios arquivos.

Isso acontece porque o Spark é um sistema distribuído. Vários executores podem estar escrevendo partes do arquivo simultaneamente. Ao final, teremos vários arquivos `part-00000`, `part-00001`, etc., dentro da pasta de destino.

Exemplo
```
dataset.parquet/ --pasta
 ├── part-00000.parquet --arquivos
 ├── part-00001.parquet
 └── part-00002.parquet
```

In [36]:
# Ler um arquivo ou multiplos arquivos é feito da mesma forma

multi_file_path = "data/playground/olist_order__multi_files"
df = spark.read.parquet(multi_file_path)

df.show()

+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date| price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|304dfaa2530a17749...|            1|0aed9d548c366ad80...|643214e62b870443c...|2018-05-18 15:59:46|  43.8|         7.39|
|3948c2f40e71b2178...|            1|887dba291adc295b5...|98dac6635aee4995d...|2017-05-11 16:35:11|  26.4|         14.1|
|274954faa1775d863...|            1|96277485af1fa20c3...|b499c00f28f4b7069...|2017-12-04 12:53:20| 59.99|        15.17|
|43ee3ed7fa79e982f...|            1|e67307ff0f15ade43...|f4aba7c0bca51484c...|2017-06-02 17:30:19| 18.99|         15.1|
|24508eba7537515f4...|            1|29b85c2f1ec5f4d02...|44073f8b7e41514de...|2017-04-26 21:35:19| 186.9|        21.36|
|3addeedb2235eeb1e...|            1|58bef3ad35aed45b9...|c3867b4666c7d7686...|2018-03-29 02:31:02| 125.0|        14.96|
|434061e3b7fa3c393...|            1|368c6c730842d7801...|1f50f920176fa81da...|2017-10-05 02:30:35|  59.9|        17.67|
|06a1cb50e0911f3b0...|            1|cc1b5f3a64b4f452b...|0daf5180aa44356f6...|2018-08-24 04:04:20|  39.9|        19.19|
|1bed42b5193345848...|            1|a5b3765e039c48832...|4e7c18b98d84e05cb...|2017-10-10 16:04:37|  10.0|         15.1|
|0e3737a398f635ed0...|            1|b86342c63a6cf10c0...|080199a181c46c657...|2018-01-11 13:07:18|179.49|         9.45|
|1b900d4d10e97580e...|            1|9ead3847aad283a08...|fac1a9017ade7bdc9...|2018-05-29 18:57:02|  99.9|        22.41|
|1d39a1c8b0608d354...|            1|723f62c36c2980377...|6560211a19b47992c...|2018-03-04 22:28:35|  65.0|        17.73|
|3a3c98aede7994faf...|            1|e51136ef1d291cf07...|9bcdfa7b615b3abb9...|2017-02-05 21:14:52| 359.9|        17.63|
|02ead97e330f22204...|            1|e338f548cda0b5265...|cab85505710c7cb9b...|2017-07-03 03:43:25|  54.9|        15.13|
|1e3b30b2e066ae120...|            1|eaee6d611cea1d76f...|b335c59ab742f751a...|2017-08-07 19:23:06| 27.16|        17.92|
|24197cf765af52797...|            1|c4c273fc9291c33a5...|620c87c171fb2a6dd...|2017-04-06 16:30:16| 299.9|        12.71|
|0e556f5eafbf3eb39...|            2|aafec8ef0f0e7bf2f...|0ea22c1cfbdc755f8...|2016-10-10 19:31:39|  24.9|        22.93|
|11104e15dc0997a6b...|            1|bb42f37fc3d9130e4...|da8622b14eb17ae28...|2018-04-12 03:15:32|  44.9|         5.56|
|1add1aa4c6e709fd7...|            1|21fb5057dd6a737df...|b14db04aa7881970e...|2016-10-11 08:29:50|  49.0|        25.15|
|39735cad3fa0e9f2e...|            1|1078e04ece7f1498a...|7040e82f899a04d1b...|2018-08-07 03:10:15|  24.9|        11.19|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
only showing top 20 rows

## Salvando Arquivos

Uma característica importante do Spark é que, ao salvar dados (seja CSV, Parquet, JSON, etc.), ele **sempre cria uma pasta** e não um arquivo único.

In [34]:
# Criando um DataFrame de exemplo
data = [
    ("João", 25, "RJ"),
    ("Maria", 30, "SP"),
    ("Pedro", 22, "MG"),
    ("Ana", 28, "RJ"),
    ("Carlos", 35, "SP")
]
columns = ["Nome", "Idade", "Estado"]

df = spark.createDataFrame(data, columns)
df.show()

+------+-----+------+
|  Nome|Idade|Estado|
+------+-----+------+
|  João|   25|    RJ|
| Maria|   30|    SP|
| Pedro|   22|    MG|
|   Ana|   28|    RJ|
|Carlos|   35|    SP|
+------+-----+------+

### Salvando em CSV
As configurações usadas no read também podem ser utilizadas no write

In [ ]:
df.write.csv(
    "data/playground/write/output_csv",
    header=True,
    sep=";"
)

#### Modo de escrita
Se a gente rerodar o comando superior, ele vai retornar um erro, pq o arquivo já existe. Para resolver isso, temos que definir que podemos sobreescrever usando o modo de escrita (mode)

In [ ]:
df.write.mode("overwrite").csv(
    "data/playground/write/output_csv",
    header=True,
    sep=";"
)

### Salvando em Parquet

In [ ]:
df.write.mode("overwrite").parquet("data/playground/write/output_parquet")

### Reparticionamento (Repartition)

Como mencionado, o Spark salva os dados em vários arquivos (partições). Podemos controlar quantos arquivos serão gerados usando `repartition()` ou `coalesce()`.

- `repartition(N)`: Aumenta ou diminui o número de partições (faz um shuffle completo dos dados).
- `coalesce(N)`: Diminui o número de partições (mais eficiente que repartition para reduzir, pois evita shuffle total).

In [ ]:
(
    df.coalesce(1)
    .write
    .mode("overwrite")
    .parquet("data/playground/write/output_parquet_one_file")
)

## Aplicando no dataset de review da Olist

In [41]:
from pyspark.sql.types import *

schema = StructType([
    StructField("review_id", StringType()),
    StructField("order_id", StringType()),
    StructField("review_score", IntegerType()),
    StructField("review_comment_title", StringType()),
    StructField("review_comment_message", StringType()),
    StructField("review_creation_date", TimestampType()),
    StructField("review_answer_timestamp", TimestampType()) 
])

olist_path = "data/raw/olist_order_reviews_dataset.csv"

df = spark.read.csv(
    path=olist_path,
    header=True,
    sep=',',
    schema=schema
)

In [42]:
df.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- review_score: integer (nullable = true)
 |-- review_comment_title: string (nullable = true)
 |-- review_comment_message: string (nullable = true)
 |-- review_creation_date: timestamp (nullable = true)
 |-- review_answer_timestamp: timestamp (nullable = true)

In [43]:
df.write.mode("overwrite").parquet("data/processed/olist_order_reviews_dataset")